天气查询助手扩展.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 天气查询助手扩展
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/ollama:0.1.3@66e156c4f612964c131c49168882e78c2cdfe366879506b97ad855b23c5d6d98
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: end
      id: 1775570225058-source-1775570253749-target
      source: '1775570225058'
      sourceHandle: source
      target: '1775570253749'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1775570207158-source-1775570292721-target
      source: '1775570207158'
      sourceHandle: source
      target: '1775570292721'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1775570292721-source-1775570803063-target
      source: '1775570292721'
      sourceHandle: source
      target: '1775570803063'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1775570803063-false-1775570225058-target
      source: '1775570803063'
      sourceHandle: 'false'
      target: '1775570225058'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1775570803063-true-1775570861034-target
      source: '1775570803063'
      sourceHandle: 'true'
      target: '1775570861034'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1775570861034-source-1775570901344-target
      source: '1775570861034'
      sourceHandle: source
      target: '1775570901344'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: city
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: city
      height: 107
      id: '1775570207158'
      position:
        x: 81
        y: 282
      positionAbsolute:
        x: 81
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: http://192.168.0.101:8080/api/weather?city={{#1775570207158.city#}}
        variables: []
      height: 154
      id: '1775570225058'
      position:
        x: 997
        y: 372
      positionAbsolute:
        x: 997
        y: 372
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1775570225058'
          - body
          value_type: string
          variable: body
        selected: false
        title: 输出
        type: end
      height: 86
      id: '1775570253749'
      position:
        x: 1335
        y: 363
      positionAbsolute:
        x: 1335
        y: 363
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1775570207158'
          - city
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen2:7b
          provider: langgenius/ollama/ollama
        prompt_template:
        - id: ca0b3d0b-8822-48da-bf63-14f7d1b4d8eb
          role: system
          text: '你是城市名称提取器。


            用户输入：{{#1775570207158.city#}}


            规则：

            - 如果能识别城市名，只输出城市名（例如：北京、东京、上海）

            - 如果无法识别城市名，只输出：NONE

            - 不要输出解释，不要输出标点，不要换行


            输出：'
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 86
      id: '1775570292721'
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: ea6cb762-549b-4be7-a965-8b9c96b9831d
            value: NONE
            varType: string
            variable_selector:
            - '1775570292721'
            - text
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 122
      id: '1775570803063'
      position:
        x: 691
        y: 260
      positionAbsolute:
        x: 691
        y: 260
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen2:7b
          provider: langgenius/ollama/ollama
        prompt_template:
        - role: system
          text: '你是一个固定回复机器人。

            请严格输出以下内容，不要添加任何解释，不要换行，不要加标点以外的内容：


            未找到该城市，请输入正确的城市名称，例如：北京天气、东京天气、上海天气。'
        selected: false
        title: LLM 2
        type: llm
        vision:
          enabled: false
      height: 86
      id: '1775570861034'
      position:
        x: 997
        y: 166
      positionAbsolute:
        x: 997
        y: 166
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1775570861034'
          - text
          value_type: string
          variable: text
        selected: false
        title: 输出 2
        type: end
      height: 86
      id: '1775570901344'
      position:
        x: 1335
        y: 166
      positionAbsolute:
        x: 1335
        y: 166
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -497.5992680246244
      y: 98.64390050292167
      zoom: 0.734867240140587
  rag_pipeline_variables: []
